<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="pipelineml10-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.pipelineml10.TestRunListener" />
    <listener class-name="org.opengis.cite.pipelineml10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.pipelineml10.TestFailureListener" />
  </listeners>

  <test name="PML Documents">
    <classes>
      <class name="org.opengis.cite.pipelineml10.general.XMLSchemaTests" />
      <class name="org.opengis.cite.pipelineml10.data.XMLSchemaValidationTests" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
